{% extends "base.html.twig" %}

{% block body %}


<table>
    <tr><td>NOMBRE</td><td>APELLIDO</td><td>USUARIO</td></tr>
{% for user in users  %}



<tr><td>{{ user.nombre }}</td><td>{{ user.apellido }}</td><td>{{ user.usuario }}</td></tr>



{% endfor %}
</table>

{% endblock %}